{% extends 'core/base.html' %}

{% load static %}

{% block title %}Historia{% endblock %}

{% block content %}
<section class="page-section about-heading">
  <div class="container">
    <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="{% static 'core/img/about.jpg' %}" alt="">
    <div class="about-heading-content">
      <div class="row">
        <div class="col-xl-9 col-lg-10 mx-auto">
          <div class="bg-faded rounded p-5">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Tradición familiar</span>
              <span class="section-heading-lower">Nuestra historia</span>
            </h2>
            <p>Fundada en 2008. </p>
            <p>
            Pastelería Belen empezó en el 2008 en el distrito de San Juan Lurigancho como una aventura familiar, 
            impulsados por la iniciativa de nuestra madre. Comenzamos preparando todo tipo de tortas, 
            pasteles y bocaditos con nuestras mejores recetas caseras. Poco a poco gracias a la 
            publicidad boca a boca de nuestros amigos y allegados, comenzaron a llegar nuestros primeros 
            clientes, los cuales nos siguen acompañando. Así nos hicimos conocidos y empezamos a tener 
            una increíble y fiel clientela a quien le agradecemos de todo corazón.
            Los que nos motivan a seguir brindando lo mejor de nosotros, son Uds., nuestros clientes. 
            Queremos que cada celebración o antojo sea algo especial. En Pastelería Belen estamos orgullosos de 
            ser parte de ti, y nos hagan partícipes de sus momentos
            especiales.
            Nuestra intención siempre es ofrecerle lo mejor, con la calidad y frescura de siempre, 
            así como nuestras tortas, que aseguran ser la mejor elección para quedar bien ante los amigos,
            compañeros y familiares.
            Si tienes algún diseño o creación en mente, para alguna celebración especial, estamos a 
            tu entera disposición, con la misma atención personalizada y cálida de siempre en nuestros 
            2 locales.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}