.container_product{
    padding: 10px;
    border-radius: 4px;
    background: white;
    box-shadow: 3px 3px 5px 3px rgba(0,0,0,0.3);
    height: 355px;
}

.img_product{
    border-radius: 4px;
    height: 180px;
    width: 100%;
}

.footer_information{
    display: flex;
    padding: 10px;
    background: #3cc47c;
    color: white;
    font-weight: bold;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.body_information{
    max-height: 80px;
    min-height: 80px;
    overflow: auto;
    padding-top: 0.2em ;
    padding-bottom: 0.5em;
}
.body_information::-webkit-scrollbar {
    width: 5px;
        height: 5px;
        background-color: transparent;
}
.body_information::-webkit-scrollbar-track {
    border-radius: 8px;
  }

.body_information::-webkit-scrollbar-thumb {
    background: black;
    box-shadow: inset 3px 3px 5px 3px rgba(0,0,0,0.3);
    border-radius: 10px;
  }

.head_information {
    font-size: 24px;
    font-weight: bold;
    border-bottom: 1px solid black;
    margin: 0px;
    padding-top: 0.3em;
}