{% extends "core/base_fact.html" %}
{% block contenido %}
<div class="panel panel-default">
    <div class="panel-heading">
        <a href="{% url 'billing:bill_new' %}" class="btn btn-info"><span class="fa fa-plus-circle"></span> Nueva Factura</a>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
            <thead>
                <tr>
                    <th>No. Fact</th>
                    <th>Fecha Fact.</th>
                    <th>Observacion</th>
                    <th>Creado</th>
                    <th>Modificado</th>
                    <th class="all">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for item in facturas %}
                <tr>
                    <td>{{item.id}}</td>
                    <td>{{item.date_bill|date:'d/m/Y'}}</td>
                    <td>{{item.observation}}</td>
                    <td>{{item.creado|date:'d/m/Y H:i'}}</td>
                    <td>{{item.modificado|date:'d/m/Y H:i'}}</td>
                    <td>
                        <a href="{% url 'billing:bill_edit' item.id %}" class="btn btn-primary btn-circle">
                            <span class="fa fa-edit"></span>
                        </a>
                    </td>
                </tr>
                {% endfor%}
            </tbody>
        </table>
    </div>
</div>
{% endblock contenido%}