{% extends 'core/base_fact.html' %}
{% block contenido%}
{% if form.errors %}
    {% for field in form %}
        {% if field.errors %}
            <div class="alert alert-danger fade in">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {% for error in field.errors %}
                    <strong>{{ error|escape }}</strong>
            {% endfor %}
            </div>
        {% endif %} 
    {% endfor %}
    {% if form.non_field_errors%}
        <div class="alert alert-danger">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {% for error in form.non_field_errors %}
            
                <strong>{{ error|escape }}</strong>
        {% endfor %}
        </div>
    {% endif %}
{% endif %}

{% if object %}
<form method="POST" action="{% url 'billing:bill_edit' object.pk %}">
{% else %}
<form method="POST" action="{% url 'billing:bill_new' %}">
{% endif %}
    <div class="panel panel-red">
        <div class="panel-heading">
            {% if object %} Editar {% else %} Nueva {% endif %} Factura
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
                {% csrf_token %}
                <div class="col-md-6">
                    <div class="form-group has-success">
                        <label class="control-label" for="inputSuccess">Fecha</label>
                        {{ form.date_bill }}
                        <small class="text-danger">{{form.errors.date_bill}}</small>
                        {% if form.date_bill.errors %}
                            {% for error in form.date_bill.errors %}
                                <small class="text-danger">{{ error|escape }} </small>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group has-success">
                        <label class="control-label" for="inputSuccess">Observaciones</label>
                        {{ form.observation }}
                        <small class="text-danger">{{form.errors.observation}}</small>
                    </div>
                </div> 
                {{ detail_bill.management_form }}
                <table class="table">
                    <thead>
                        <td class="text-center">Producto</td>
                        <td class="text-center">Cantidad</td>
                        <td class="text-center">Precio</td>
                        <td class="text-center">Total</td>
                        <td class="text-center">Borrar</td>
                    </thead>
                    <tbody>
                        {% for detalle in detail_bill %}
                        <tr>
                            <td>{{ detalle.design }}</td>
                            <td> {{ detalle.cantidad }}
                                {% if detalle.cantidad.errors %}
                                    {% for error in detalle.cantidad.errors %}
                                        <small class="text-danger">{{ error|escape }} </small>
                                    {% endfor %}
                                {% endif %}
                            </td>
                            <td>
                                {{ detalle.price }}
                                {% if detalle.price.errors %}
                                    {% for error in detalle.price.errors %}
                                        <small class="text-danger">{{ error|escape }} </small>
                                    {% endfor %}
                                {% endif %}
                            </td>
                            <td> {{ detalle.total }} </td>
                            <td>{{  detalle.DELETE }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
        </div>
        <div class="panel-footer">
            <div class="text-center">
                <button type="submit" class="btn btn-social-icon btn-danger" name="submit"><i class="fa fa-save"></i> Guardar</button>
                <a class="btn btn-social-icon btn-warning" href="{% url 'billing:bill_list' %}"><i class="fa fa-times"></i> Cancelar</a>
            </div>
        </div>
    </div>
</form>
{% endblock contenido%}