{% extends "core/base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'core/css/main.css' %}">
<link rel="stylesheet" href="{% static 'core/css/fonts.css' %}">
<link rel="stylesheet" href="{% static 'core/css/catalog.css' %}">

<section class="background-gray">
    <div class="container--1000">
        <article class="site__content row column">
            <h3 class="mt-2 ml-4">Estas son todas nuestras presentaciones</h3>
            <ul class="container row" >
                {% for design in designs %}
                <li class="col-xl-4 col-md-4 col-lg-8 pb-3">
                    <div class="container_product">
                        <div>
                            <img class="img_product" src="{{ design.image.url }}" alt="">
                        </div>
                        <div  >
                            <h4 class="head_information" >
                                {{ design.name }}
                            </h4>
                            <div class="body_information">
                                <p>{{ design.description }}</p>
                            </div>
                            <div class="footer_information">
                                Precio Unitario: S/. {{ design.price }}
                            </div>
                            <!--<div>
                                <a class="site__content__nominated--button" href="{% url 'login' %}">comprar</a>
                            </div>-->     
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </article>
    </div>
</section>
{% endblock content %}